@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/*! layout */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2% ;
}

.logo-image{
  height: auto;
  width: 40%;
}

.main-Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navbar
{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}
li{
  margin: 15px;
}
.Nav-link{
  color: black;
  font-size: 80%;
  text-decoration: none;
}
.Nav-link:hover{
  color: #004AAD;
  text-decoration: underline;
}
.cart-button{
  background-color: black;
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
  color: white;
  border: none;
}
.cart-button:hover{
  background-color: #004AAD;
}
.Hamburger-icon{
  align-items: center;
  font-size: 35px;
  color: #004AAD;
  cursor: pointer;
}
/* *******************HOME HERO SECTION******************/

.hero-section{
  height: 100%;
  width: 100%;
}
.sub-hero-section{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.home-appiances-image{
  height: 100%;
  width: 100%;
}
.hero-text1{
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 500;
}
.hero-text2{
  font-size: 250%;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: #004AAD;
}
.hero-text3{
  font-size: 100%;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color:black;
}
.left-sub-hero-section {
  height: auto;
  width: 50%;
}
.right-sub-hero-section{
  height: auto;
  width: 50%;
}


/* *******************CARD SECTION*********************/

.left-offer-card{
  height: 100%;
  width: 50%;
}
.right-offer-card{
  height: 100%;
  width: 50%;
}
.cart-section
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  margin: 2%;
  border-radius: 5%;
  box-shadow: 5px 10px 10px #888888;
}
.right-offer-card-img{
  height: auto;
  width: 100%;
}
.left-offer-card{
  margin:5%;
}
.left-offer-card-see{
  font-size: 100%;
  color: #004AAD;
  text-decoration: none;
}
.get-off-text{
  font-size: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* ********************ALL SERICE***************** */

.all-services-img{
  height: auto;
  width: 100%;
}

/*****************OUT PRODUCT SECTION********************/

.all-product-main-heading{
  font-size: 150%;
  font-weight: 550;
}

/* **************PRODUCT CARD CONTAINER*******************/

.products_card_design{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.Main-card-container{
  height: 100%;
  width: 18%;
  margin: 1%;
  border-radius: 15px;
  box-shadow: 5px 10px 10px #888888;
}


/********************** PRODUCT CARD TEMPLATE******************** */

.card_category {
  width: 30%;
  align-items: center;
  background-color: rgb(253, 226, 226);
  color: black;
  font-size: 60%;
  font-weight: 600;
  padding: 4px;
  border-radius: 3px;
}
.main_card_category
{
  background-color: #888888;
}
.product_image{
  height: 70%;
  width: 70%;
}
.product_name{
  font-size: 100%;
}
.product_rating{
  color: goldenrod;
  font-size: 80%;
  margin: 8px 0px 8px 0px;
}
.product_description{
  font-size: 70%;
}
.product_price_container{
  display: flex;
  margin: 8px 0px 8px 0px;
  font-weight: 500;
}
.product_price{
  font-size: 100%;
  margin-right: 25%;
}
.product_stock_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_qty_container{
  display: flex;
  margin: 8px 0px 8px 0px;
}
.qyt_description{
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.qyt_element{
  display: flex;
}
.cart_increment ,.product_qyt ,.cart_decrement{
  padding: 3px 12px 3px 12px;
  background: none;
  border: 1px solid rgb(184, 182, 182);
}
.cart_increment{
  border-radius: 8px 0px 0px 8px;
  border-right: none;
  cursor: pointer;
}
.cart_decrement{
  border-radius: 0px 8px 8px 0px;
  border-left: none;
  cursor: pointer;
}
.add-to-cart-button{
    align-items: center;
    background-color: black;
    padding: 12px 12px 12px 12px;
    margin-top: 5%;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
}
.add-to-cart-button:hover{
  background-color: #004AAD;
}







